<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<Configuration status="INFO">
	<Properties>
		<Property name="logPath">/proyecto/logs</Property>
		<Property name="rollingFileName">Proyecto</Property>
	</Properties>
	<Appenders>
		<Console name="consola" target="SYSTEM_OUT">
			<PatternLayout pattern="[%level][%d{dd-MM-yyyy HH:mm:ss}][%C{1}.%M[%L]] : %msg%n" />
		</Console>

		<RollingRandomAccessFile name="archivo" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}_%d{dd-MM-yyyy}.log">
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
		   	<Policies>
		   		<OnStartupTriggeringPolicy />
		    	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
		    	<SizeBasedTriggeringPolicy size="500 MB"/>
		   	</Policies>
		</RollingRandomAccessFile>

	</Appenders>
	<Loggers>		
		<Logger name="mx.com.raulgonzalez" level="info" additivity="false">
            <AppenderRef ref="consola"/>
            <AppenderRef ref="archivo"/>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="consola"/>
        </Root>
	</Loggers>
</Configuration>
